* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: border-box;
  font-family: "Gilroy";
}
a {
  text-decoration: none;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
.fullmain {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0px;
  margin-bottom: 80px;
  height: 80px;
  width: 100vw;
  background-color: #813588;
  color: #fff;
  border-bottom: 1px solid #dadada;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}
#logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#logo img {
  padding-right: 1vh;
  height: 70px;
}

#logo h2 {
  font-size: 1.5vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navoptions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4vw;
}
.navoptions h4:hover {
  border-bottom: 2px solid #ff8e32;
}
.navoptions i {
  font-size: 1.1vw;
  font-weight: 700;
  display: none;
}
main {
  /* height: calc(100% - 80px);  */
  margin-top: 80px;
  width: 100%;
  height: 100%;
}
.content {
  /* height: calc(100% - 80px); */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content1 {
  /* height: 100vh; */
  width: 50%;
  padding: 5vw 3vw;
}
.content1 h1 {
  font-size: 4vw;
}
.content1 p {
  font-size: 2vw;
}
.content1 span {
  color: lightseagreen;
}
#exploreNow {
  font-size: 1.5vw;
  color: #fff;
  margin-top: 3vw;
  background: linear-gradient(to right, #ff8e32, #ff5263);
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  transition: all ease 0.2s;
  overflow: hidden;
}
#exploreNow:hover {
  box-shadow: 0.3vw 0.3vw 0px /*(opacity)*/ black;
}

.content2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* height: 100%; */
  width: 50%;
  z-index: -1;
  /* background-color: aquamarine; */
}
.content2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation: upDownAnimation ease-in-out 1s infinite alternate;
}
#con{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.box{
  transition: all ease-in 0.3s;
  overflow: visible;
  color: #fff;
  width: 20%;
  height: 100%;
  background-color: #000000;
}
.box:hover{
 transform: scale(1.2);
}
/* Style the container to control size and positioning */

@keyframes upDownAnimation {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  100% {
    transform: translateY(-4vh); /* End at 20px above the original position */
  }
}

footer {
  position: sticky;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0a2541;
}
.footerstyle {
  width: 80vw;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 155px;
  margin-top: 50px;
  border-radius: 50px;
  background-color: #c3dffc;
}
.subscribe {
  /* height: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #ff8e32;
  background-color: #c3dffc;
}
.subscribe a:hover{
   /* color: gray; */
}
.subscribe input {
  font-size: 1rem;
  background-color: #c3dffc;
  margin-left: 5px;
  padding-left: 5px;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}
.subscribe a {
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  background-color: #ff8e32;
  font-size: 1.5vw;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}
.social-icons a {
  color: black;
  padding: 0 10px;
  margin: 0 0.1vw;
  transition: all ease-in 0.2s;
}
.social-icons a:hover {
 transform: scale(2);
}

@media (max-width: 600px) {
  .navbar {
    background-color: lightseagreen;
    color: #fff;
  }
  #logo h2 {
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
  }
  .navoptions h4 {
    display: none;
  }
  .navoptions i {
    display: block;
    width: 8vw;
    font-size: 7vw;
  }

  main {
    /* height: calc(100% - 60px); */
    margin-top: 0px;
    width: 100%;
  }
  .content {
    margin-top: 80px;
    /* height: calc(100% - 60px); */
    flex-direction: column;
  }
  .content1 {
    /* height: 60%; */
    width: 100%;
  }

  .content1 h1 {
    font-size: 9vw;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
  }
  .content1 p {
    font-size: 4vw;
  }

  #exploreNow {
    font-size: 4vw;
    margin-top: 40px;
    padding: 2vw 5vw;
  }
  .content2 {
    /* height: 40%; */
    width: 100%;
  }
  .content2 img {
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }
  #con{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }
  .subscribe {
    width: 70vw;
    flex-direction: row;

    flex-wrap: nowrap;
    margin-bottom: 5px;
  }
  .subscribe a {
    padding: 5px;
    margin-left: 2px;
    font-size: 3.5vw;
  }

  footer {
    margin-top: 50px;
    width: 100%;
    height: 300px;
  }
  .footerstyle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ::placeholder {
    margin-right: 0px;
  }
}
